<div class="group row-layout">
  <igx-input-group type="border" class="input">
    <input type="text" igxInput />
  </igx-input-group>
  <p class="text">
    Username
  </p>
  <p class="text_1">
    Account Number
  </p>
  <p class="text_2">
    Country
  </p>
  <p class="text_3">
    Mobile Number
  </p>
  <p class="text_4">
    Date of birth
  </p>
  <igx-input-group type="border" class="input_1">
    <input type="text" igxInput />
  </igx-input-group>
  <h5 class="h5">
    Trouble Logging In - Forgot Login Password?
  </h5>
  <igx-input-group type="border" class="input_2">
    <input type="text" igxInput />
  </igx-input-group>
  <igx-input-group type="border" class="input_3">
    <input type="text" igxInput />
  </igx-input-group>
  <igx-input-group type="border" class="input_4">
    <input type="text" igxInput />
  </igx-input-group>
  <button igxButton="raised" igxRipple routerLink="/password-reset-completed" class="button">
    Submit
  </button>
</div>
