:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.group {
  align-items: stretch;
  position: relative;
  width: 980px;
  min-width: 50px;
  min-height: 50px;
}
.text {
  top: 65.65529010238909px;
  left: 4.494880546075086px;
  color: hsla(var(--igx-error-500));
  position: absolute;
  min-width: min-content;
  height: max-content;
}
.text_1 {
  top: 222.92491467576792px;
  left: 27.21160409556313px;
  position: absolute;
  min-width: min-content;
  height: max-content;
}
.text_2 {
  top: 296.31740614334467px;
  left: 28.959044368600683px;
  position: absolute;
  min-width: min-content;
  height: max-content;
}
.text_3 {
  top: 374.9522184300343px;
  left: 25.464163822525595px;
  position: absolute;
  min-width: min-content;
  height: max-content;
}
.input {
  top: 184.481228668942px;
  left: 333.01365187713316px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.input_1 {
  top: 261.3686006825938px;
  left: 334.7610921501706px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.input_2 {
  top: 341.7508532423206px;
  left: 334.7610921501707px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.button {
  top: 462.32423208191113px;
  left: 528.726962457338px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.button_1 {
  top: 464.07167235494893px;
  left: 405.2866894197951px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
