<div class="group row-layout">
  <p class="text_1">
    Your have requested change of E-Banking password . Please change your password.
  </p>
  <p class="text_2">
    Old Login Password 
  </p>
  <p class="text_3">
    New Login Password
  </p>
  <p class="text_4">
    Re-type New Login Password
  </p>
  <igx-input-group type="border" class="input">
    <input type="password" [required]="true" igxInput />
    <label igxLabel>Password</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_1">
    <input type="password" [required]="true" igxInput />
    <label igxLabel>Password</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_2">
    <input type="password" [required]="true" igxInput />
    <label igxLabel>Password</label>
  </igx-input-group>
  <button igxButton="raised" igxRipple class="button">
    reset
  </button>
  <button igxButton="raised" igxRipple routerLink="/otp-for-unblocking" class="button_1">
    Submit
  </button>
  <p class="text">
    Password length should not be less than 8 and not more than 20 characters.
Password should contain at least one digit [0-9], one alphabet [A-Z] [a-z] and one special character such as [@#&amp;*!].
Please avoid choosing a password that is generic in nature, guessable or inferable.
Avoid password that is related to your personal data such as name, date of birth, address, telephone number and car or bike registration number.
It is a good practice to memorize your password rather than write it down somewhere.
For security reasons, keep changing your password at regular intervals.
  </p>
</div>
