<div class="group row-layout">
  <p class="text">
    Your have requested change of E-Banking password . Please change your password.
  </p>
  <p class="text_1">
    Old Login Password 
  </p>
  <p class="text_2">
    New Login Password
  </p>
  <p class="text_3">
    Re-type New Login Password
  </p>
  <igx-input-group type="border" class="input">
    <input type="password" [required]="true" igxInput />
    <label igxLabel>Password</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_1">
    <input type="password" [required]="true" igxInput />
    <label igxLabel>Password</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_2">
    <input type="password" [required]="true" igxInput />
    <label igxLabel>Password</label>
  </igx-input-group>
  <button igxButton="raised" igxRipple class="button">
    reset
  </button>
  <button igxButton="raised" igxRipple routerLink="/otp-for-unblocking" class="button_1">
    Submit
  </button>
</div>
