<div class="group row-layout">
  <p class="text"></p>
  <igx-input-group type="box" class="input">
    <input type="text" [(ngModel)]="value" [disabled]="true" igxInput />
  </igx-input-group>
  <igx-input-group type="border" class="input_1">
    <input type="password" igxInput />
    <label igxLabel>Password</label>
  </igx-input-group>
  <igx-checkbox labelPosition="after" class="checkbox">
    Label
  </igx-checkbox>
  <p class="text_1"></p>
  <button igxButton="raised" igxRipple class="button">
    Button
  </button>
  <button igxButton="raised" igxRipple class="button_1">
    Button
  </button>
  <h5 class="h5">
    Login
  </h5>
</div>
