:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.group {
  align-items: stretch;
  position: relative;
  width: 1037px;
  height: 274px;
  min-width: 50px;
  min-height: 50px;
}
.text {
  position: absolute;
  height: max-content;
  min-width: min-content;
  top: 30.706484641638227px;
  left: 1px;
  color: hsla(var(--igx-primary-300));
}
.button {
  top: 151.27986348122863px;
  left: 485.04095563139936px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
