<div class="group row-layout">
  <igx-input-group type="box" class="input">
    <input type="text" placeholder="Email" [required]="true" igxInput />
  </igx-input-group>
  <igx-input-group type="box" class="input_1">
    <input type="text" placeholder="Mobile number" [required]="true" igxInput />
  </igx-input-group>
  <p class="text">
    Account number
  </p>
  <p class="text_1">
    Registered Email 
  </p>
  <button igxButton="raised" igxRipple class="button">
    Submit
  </button>
  <p class="text_2">
    Registered Mobile number
  </p>
  <h5 class="h5">
    Unblock user account
  </h5>
</div>
<igx-input-group type="box" class="input_2">
  <input type="text" placeholder="Account number" [required]="true" igxInput />
</igx-input-group>
