:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.group {
  align-items: stretch;
  top: 80.38225255972694px;
  left: 243.38225255972685px;
  width: 534px;
  height: 489px;
  min-width: 50px;
  min-height: 50px;
  background-color: hsla(var(--igx-surface-500));
  position: absolute;
}
.text {
  top: 81.68523754902041px;
  width: 151px;
  left: 10px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  top: 148.75927272885764px;
  left: 10px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.text_2 {
  top: 207.3461561936599px;
  left: 10px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.text_3 {
  top: 261.0000023475061px;
  left: 10px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.text_4 {
  top: 327.82692542442913px;
  left: 10px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.h5 {
  height: max-content;
  min-width: min-content;
}
.input {
  top: 129.4615408090445px;
  left: 240px;
  width: 249px;
  min-width: min-content;
  position: absolute;
  height: max-content;
}
.input_1 {
  top: 71.05769230769235px;
  left: 239.75px;
  flex-shrink: 0;
  width: 249px;
  position: absolute;
  height: max-content;
}
.input_2 {
  top: 184.84615619365982px;
  left: 240px;
  width: 249px;
  min-width: min-content;
  position: absolute;
  height: max-content;
}
.input_3 {
  top: 242.53846388596756px;
  left: 240px;
  width: 249px;
  min-width: min-content;
  position: absolute;
  height: max-content;
}
.input_4 {
  top: 307.1538485013522px;
  left: 240px;
  width: 249px;
  min-width: min-content;
  position: absolute;
  height: max-content;
}
.button {
  top: 408.61519152800787px;
  left: 178.16464525033996px;
  min-width: min-content;
  position: absolute;
  height: max-content;
}
.row-layout {
  display: flex;
}
